body{
    color: #3e2c1c;
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo a{
    text-decoration: none;
    color: #6b3e26; /* You can change this to any color you like */
  }

.logo h1 {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin: 0;
}

.logo img{
    height: 40px;
    margin-right: 1px;
}

.gradient-text a {
    background: linear-gradient(45deg, #444444, #72584b, #eed395); /* Gradient colors */
    -webkit-background-clip: text; /* Apply gradient to text */
    color: transparent; /* Make text transparent */
    font-size: 18px; /* Font size */
    text-decoration: none; /* Remove underline */
    padding: 5px 10px; /* Padding around the text */
    transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}